h1 {
    color: purple;
}

.container {
    background-color: seashell;
    width: 50%;
    margin: auto;
    border: 2px solid bisque;
    padding: 20px;
}

#laine {
    font-family: 'Barriecito', cursive;
    font-size: 4rem;
    color: #006b00;
}